body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff5722, #8e7bbc);
    background-size: 200% 200%;
    transition: background-position 0.3s ease;
}

body:hover {
    background-position: right bottom;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b4c7d4;
    color: #7317c9;
    text-shadow: 0 0 2px #04020f85;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

section {
    padding: 40px;
    border-radius: 40px;
    margin: 60px;
    box-shadow: 0 0 20px #7317c9;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: border-color 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #ff5722;
}

